<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <link href="https://esri.github.io/calcite-bootstrap/assets/css/calcite-bootstrap-open.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://esri.github.io/calcite-bootstrap/assets/js/bootstrap.min.js"></script>

  <style>
    .embed-container {
      position: relative;
      padding-bottom: 80%;
      height: 0;
      max-width: 100%;
    }

    .embed-container iframe, .embed-container object, .embed-container iframe {
      display:block;
      width: 100%;
      height: 100%;
    }

    small {
      position: absolute;
      z-index: 40;
      bottom: 0;
      margin-bottom: 15px;
    }
  </style>

</head>


<div class="container" id="i18_projects">
      <div class="row m-b-lg">
          <div class="col-lg-12 text-center">
              <div class="navy-line"></div>
              <h1><span data-i18n="map.map">Map</span></h1>
          </div>
      </div>


  <div class="container">
      <div class="embed-responsive embed-responsive-16by9 center">

        <div class="embed-container">
          <p align="center">
          <iframe
            width="1600"
            height="900"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            title="Photos"
            src="//www.arcgis.com/apps/Embed/index.html?webmap=3d664452e60f465992110ec36f7886ec&extent=-159.0072,14.6218,-67.0736,50.4686&home=true&zoom=true&previewImage=false&scale=true&details=false&disable_scroll=true&theme=dark"
          </iframe>
        </p>
        </div>
      </div>
    </div>
  </div>

    <!-- src="//www.arcgis.com/apps/Embed/index.html?webmap=3d664452e60f465992110ec36f7886ec&extent=-156.5614,19.5019,-154.7019,20.1465&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=dark" -->
