<!DOCTYPE html>

<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/> -->
<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->

<html>

<!-- <header>
<link rel="stylesheet" href="assets/css/main.min.css"/>
</header> -->

{% if page.title != 'index' %}
		{% include header.html %}
<!-- {% else %} -->
		<!-- {% include index_head.html %}  -->
		<!-- {% include header.html %} -->
{% endif %}

<body>
<!-- <body id="page-top" class="landing-page"> -->

	<!-- {% if page.title != 'index' %}
	    {% include drawings_header.html %}
	{% endif %} -->

    {{ content }}

</body>
</html>
